* { /* TMP */
    margin:0;
    color: var(--text-color);
    font-family: var(--txt-font);
}

/* MODIFIER A VOS RISQUES ET PERILS */

#layout10 {
    display:block;
    overflow: auto;
    height: fit-content;
    background: var(--bg-site);
   
}
#menu-gauche, #main-div, #div-droite {
    margin: 0.5%;
    padding: 3% 0;
    display: inline-block;
    position: relative;
    background: var(--bg-div);
}

#menu-gauche {
    float:left;
    width: 19vw;    
}

#titre-menu {
    position: relative;
    top: 0;
    font-weight: 800;
    text-align: center;
}

.lnk-btn {
    position: relative;
    left: 20%;
    display: block;
    background: var(--bg-boutons);
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    margin: 2%;
    text-decoration: none;
}

nav a:nth-child(1) {
    margin-top: 5%;
}

.lnk-btn:hover {
    background: var(--bg-boutons-hover);
    color: var(--txt-color-boutons-hover);
}


#main-div {
    padding-right: 4%;
    padding-left: 4%;
    width: 50vw;
    height: fit-content;
}

#div-para-main-div {
    padding-bottom: 1%;
    width: 60%;
}

#para-main-div {
    margin-top: 2%;
    line-height: 24pt;
}

#main-div-titre {
    width: max-content;
    font-size: 20pt;
}

#img-main-div {
    position: absolute;
    top: 20%;
    display: inline;
    left: 80%;
    height: 200px;
    width: 20px;
    
}

#img-main-div, #img-div-droite {
    max-width:100%;
    max-height:100%;
}

#div-droite {
    float: right;
    width: 20vw;
}

#img-div-droite {
    display: block;
    position: relative;
    left: 35%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#btn-div-droite {
    margin-top: 7%;
}

/* .img-layout10 {
    height: 100px;
    width: 100px;
} */