/* POUR DISPOSER LE LAYOUT */
body {
    margin: 0;
    width:fit-content;
}

#layout10 {
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 98vw;
    height: var(--height-layout);
}

/* ////////////////////////////////////////////////////// */

    /* GENERAL */

.lnk-btn {
    display: block;
    position: relative;
}

.img-layout10 {
    max-width:100%;
    max-height:100%;
}


    /* DIV GAUCHE */

#menu-gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

#titre-menu {
    position: relative ;
}

#nav-gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /* DIV MILIEU */

#main-div {
    display: flex;
    flex-direction: row;
    padding: 4% 2% 2% 4%;
    width: 60%;
    overflow:scroll;
}

#para-main-div {
    width: 100%;
}

#main-col-1 {
    align-self: flex-start;
}

#main-div-titre {
    margin: 0;
    height: fit-content;
}

#img-main-div {
    margin-left: 2%;
}

    /* DIV DROITE */

#div-droite {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#btn-div-droite {
    margin-top: 10%;
}