/* MODIFIER LES VALEURS DES VARIABLES DANS ROOT POUR PERSONNALISER LE DESIGN */
:root {

    /* COULEURS */

        /* BACKGROUNDS */
        --bg-site: rgb(225, 221, 221);  /* couleur de fond du site */
        --bg-div: rgb(21, 18, 18);  /* couleur de fond des divs */
        /* TEXTE */
        --text-color: rgb(207, 210, 211) ; /* couleur du texte principal */
        /* LIENS/BOUTONS */
        --bg-boutons: rgb(68, 69, 72) ;
        --bg-boutons-hover: rgb(41, 42, 44) ;   /* background au survol */
        --txt-color-boutons: rgb(251, 255, 248) ;
        --txt-color-boutons-hover: rgb(156, 255, 255);    /* texte au survol */
    
    /* POLICES */

        /* TYPOS */
        --txt-font: Helvetica, Verdana, Arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif ;  /* typo du texte principal */
        --bouton-font: Helvetica, Verdana, Arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif ; /* typo des liens/boutons */
        /* TAILLES */
        --taille-txt-para : 12pt;
        --lh-txt-para: 24pt; /* hauteur de ligne paragraphe principal */
        --taille-txt-btn : 10pt;
        --taille-titre-main: 22pt;
        /* STYLES */
        --weight-titre-menu : 800;
        --weight-titre-main: 1000;

    /* FORMATS */

    --height-layout: 47vh;
        /* BOUTONS/LIENS */
        --arrondi-btn: 10px;
        /* POSITION DANS LES DIVS */
        --top-divs-g-d: 17%; /* position top des des éléments des divs gauches et droites */
        /* IMAGES */
        --taille-main-img : 200px;
        --taille-img-droite : 130px;

}